

.board{
  display: flex;
  width: 300px;
  height: 300px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  float:left;
}

.square{
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  border: 5px solid black;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:hover {
  cursor:pointer;
  background-color: #80cd92;
}

.app-container{
  padding-left: 35%;
}

h2{
  color: #80cd92;
  padding-left:10%;
}

h1{
  color: red;
  padding-left: 5%;
}

button{
  margin-top:5%;
  margin-right: 150%;
  float:left;
  padding: 8px 18px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
